<app-header2></app-header2>



<div class="container-fluid">
    <div class="row">
        <div class="search-wrapper">
            <div class="search-box">
                <div class="search-card">
                    <input class="search-input" type="text" placeholder="job title or keywords">
                    <button class="search-button">Search</button>
                </div>
            </div>
        </div>
    </div>

    <section class="job-list" id="jobs">
        <div class="job-card">
            <div class="job-name">
                <img class="job-profile"
                    src="https://images.unsplash.com/photo-1529612700005-e35377bf1415?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80"
                    alt="">

                <div class="job-detail">
                    <h4>Google</h4>
                    <h3>Software Engineer</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing eliy.</p>




                </div>


            </div>
           
           
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">Click
                Here
            </button>

        
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable ">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Software Developer Intern
                                <br>
                                <h6>Calicut</h6>
                                <br>

                                <div style="background-color:white;display: flex;">

                                    <div style="background-color: bisque;width:100%; height: 100%; margin-left: 5px;border-radius: 5px;text-align: center;">
                                        <b>Full-time</b>
                                    </div>
                                   
                                    <div style="background-color: bisque;width:100%;height: 100%; margin-left: 5px;border-radius: 5px; text-align: center;">
                                        <b>Fresher</b>
                                    </div>
                                </div>
                              
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h5>Job Details</h5>
                            <br>
                            <h4></h4>
                            <p>Dear Professionals , <br>

                                We are offering an exciting opportunity for aspiring Python developers to join our
                                online Python Full Stack Development internship with a specialization in Django. This
                                internship program is designed to equip you with the skills and knowledge required to
                                become a proficient Python Full Stack Developer.</p>

                            <h5>JOB SUMMARY</h5>

                            <p>
                                Job Role: Software Developer Fresher
                                Salary: As per industry standard
                                Project Location(s): Kozhikode CyberPark, Calicut, Kerala
                                Education: B.Tech, BE, Bsc Comp Science, Msc, MCA, BCA
                                Work Experience: Fresher
                                Work type: Full time

                            </p>

                            <h5> IDEAL CANDIDATE</h5>
                            <p>
                                Good Communication Skills
                                Excellent Logical / Reasoning Skills
                                Detail-oriented independent thinker
                                Persistent and result oriented
                                A passionate and fast learner
                                Ability to work in a team or independently.
                            </p>


                            <h5> KEY RESPONSIBILITIES</h5>
                            <p>
                                Work closely with Developers and the QA team to ensure high-quality project delivery
                                Developing and implementing a timeline to achieve targets
                                Ability to work major B2B and B2C projects
                                Work on cutting-edge technologies.
                                Debug and bug handling skill
                            </p>



                        </div>
                        <div class="modal-footer">
                             <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-dark">Apply Now</button>
                        </div>
                    </div>
                </div>
            </div>
          

        </div>

        <div class="job-card">
            <div class="job-name">
                <img class="job-profile" src="https://mma.prnewswire.com/media/1477373/TCS_Logo.jpg?p=facebook" alt="">

                <div class="job-detail">
                    <h4>TCS</h4>
                    <h3>Angular Developer</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing eliy.</p>

                </div>

            </div>
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">Click
                Here
            </button>

        
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable ">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Software Developer Intern
                                <br>
                                <h6>Calicut</h6>
                                <br>

                                <div style="background-color:white;display: flex;">

                                    <div style="background-color: bisque;width:100%; height: 100%; margin-left: 5px;border-radius: 5px;text-align: center;">
                                        <b>Full-time</b>
                                    </div>
                                   
                                    <div style="background-color: bisque;width:100%;height: 100%; margin-left: 5px;border-radius: 5px; text-align: center;">
                                        <b>Fresher</b>
                                    </div>
                                </div>
                              
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h5>Job Details</h5>
                            <br>
                            <h4></h4>
                            <p>Dear Professionals , <br>

                                We are offering an exciting opportunity for aspiring Python developers to join our
                                online Python Full Stack Development internship with a specialization in Django. This
                                internship program is designed to equip you with the skills and knowledge required to
                                become a proficient Python Full Stack Developer.</p>

                            <h5>JOB SUMMARY</h5>

                            <p>
                                Job Role: Software Developer Fresher
                                Salary: As per industry standard
                                Project Location(s): Kozhikode CyberPark, Calicut, Kerala
                                Education: B.Tech, BE, Bsc Comp Science, Msc, MCA, BCA
                                Work Experience: Fresher
                                Work type: Full time

                            </p>

                            <h5> IDEAL CANDIDATE</h5>
                            <p>
                                Good Communication Skills
                                Excellent Logical / Reasoning Skills
                                Detail-oriented independent thinker
                                Persistent and result oriented
                                A passionate and fast learner
                                Ability to work in a team or independently.
                            </p>


                            <h5> KEY RESPONSIBILITIES</h5>
                            <p>
                                Work closely with Developers and the QA team to ensure high-quality project delivery
                                Developing and implementing a timeline to achieve targets
                                Ability to work major B2B and B2C projects
                                Work on cutting-edge technologies.
                                Debug and bug handling skill
                            </p>



                        </div>
                        <div class="modal-footer">
                             <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-dark">Apply Now</button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- <div class="job-label">
            <a class="label-a" href="">HTML</a>
            <a class="label-b" href="">CSS</a>
            <a class="label-c" href="">JAVASCRIPT</a>


        </div> -->
            <!-- <div class="job-posted">
                posted 2 min ago
            </div> -->

        </div>

        <div class="job-card">
            <div class="job-name">
                <img class="job-profile"
                    src="https://thumbor.forbes.com/thumbor/fit-in/1200x0/filters:format(jpg)/https://blogs-images.forbes.com/bernardmarr/files/2018/01/536974349298.jpg"
                    alt="">

                <div class="job-detail">
                    <h4>Tesla</h4>
                    <h3>Mechanical Engineer</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing eliy.</p>
                </div>
            </div>
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">Click
                Here
            </button>

        
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable ">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Software Developer Intern
                                <br>
                                <h6>Calicut</h6>
                                <br>

                                <div style="background-color:white;display: flex;">

                                    <div style="background-color: bisque;width:100%; height: 100%; margin-left: 5px;border-radius: 5px;text-align: center;">
                                        <b>Full-time</b>
                                    </div>
                                   
                                    <div style="background-color: bisque;width:100%;height: 100%; margin-left: 5px;border-radius: 5px; text-align: center;">
                                        <b>Fresher</b>
                                    </div>

                                    
                                </div>
                              
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h5>Job Details</h5>
                            <br>
                            <h4></h4>
                            <p>Dear Professionals , <br>

                                We are offering an exciting opportunity for aspiring Python developers to join our
                                online Python Full Stack Development internship with a specialization in Django. This
                                internship program is designed to equip you with the skills and knowledge required to
                                become a proficient Python Full Stack Developer.</p>

                            <h5>JOB SUMMARY</h5>

                            <p>
                                Job Role: Software Developer Fresher
                                Salary: As per industry standard
                                Project Location(s): Kozhikode CyberPark, Calicut, Kerala
                                Education: B.Tech, BE, Bsc Comp Science, Msc, MCA, BCA
                                Work Experience: Fresher
                                Work type: Full time

                            </p>

                            <h5> IDEAL CANDIDATE</h5>
                            <p>
                                Good Communication Skills
                                Excellent Logical / Reasoning Skills
                                Detail-oriented independent thinker
                                Persistent and result oriented
                                A passionate and fast learner
                                Ability to work in a team or independently.
                            </p>


                            <h5> KEY RESPONSIBILITIES</h5>
                            <p>
                                Work closely with Developers and the QA team to ensure high-quality project delivery
                                Developing and implementing a timeline to achieve targets
                                Ability to work major B2B and B2C projects
                                Work on cutting-edge technologies.
                                Debug and bug handling skill
                            </p>



                        </div>
                        <div class="modal-footer">
                             <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-dark">Apply Now</button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- <div class="job-label">
            <a class="label-a" href="">HTML</a>
            <a class="label-b" href="">CSS</a>
            <a class="label-c" href="">JAVASCRIPT</a>


        </div> -->
            <!-- <div class="job-posted">
                posted 2 min ago
            </div> -->

        </div>
        <div class="job-card">
            <div class="job-name">
                <img class="job-profile" src="http://1000logos.net/wp-content/uploads/2017/05/Old-YouTube-logo.jpg"
                    alt="">

                <div class="job-detail">
                    <h4>Youtube</h4>
                    <h3>Software Engineer</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing eliy.</p>
                </div>
            </div>
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">Click
                Here
            </button>

        
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable ">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Software Developer Intern
                                <br>
                                <h6>Calicut</h6>
                                <br>

                                <div style="background-color:white;display: flex;">

                                    <div style="background-color: bisque;width:100%; height: 100%; margin-left: 5px;border-radius: 5px;text-align: center;">
                                        <b>Full-time</b>
                                    </div>
                                   
                                    <div style="background-color: bisque;width:100%;height: 100%; margin-left: 5px;border-radius: 5px; text-align: center;">
                                        <b>Fresher</b>
                                    </div>
                                </div>
                              
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h5>Job Details</h5>
                            <br>
                            <h4></h4>
                            <p>Dear Professionals , <br>

                                We are offering an exciting opportunity for aspiring Python developers to join our
                                online Python Full Stack Development internship with a specialization in Django. This
                                internship program is designed to equip you with the skills and knowledge required to
                                become a proficient Python Full Stack Developer.</p>

                            <h5>JOB SUMMARY</h5>

                            <p>
                                Job Role: Software Developer Fresher
                                Salary: As per industry standard
                                Project Location(s): Kozhikode CyberPark, Calicut, Kerala
                                Education: B.Tech, BE, Bsc Comp Science, Msc, MCA, BCA
                                Work Experience: Fresher
                                Work type: Full time

                            </p>

                            <h5> IDEAL CANDIDATE</h5>
                            <p>
                                Good Communication Skills
                                Excellent Logical / Reasoning Skills
                                Detail-oriented independent thinker
                                Persistent and result oriented
                                A passionate and fast learner
                                Ability to work in a team or independently.
                            </p>


                            <h5> KEY RESPONSIBILITIES</h5>
                            <p>
                                Work closely with Developers and the QA team to ensure high-quality project delivery
                                Developing and implementing a timeline to achieve targets
                                Ability to work major B2B and B2C projects
                                Work on cutting-edge technologies.
                                Debug and bug handling skill
                            </p>



                        </div>
                        <div class="modal-footer">
                             <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-dark">Apply Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="job-label">
            <a class="label-a" href="">HTML</a>
            <a class="label-b" href="">CSS</a>
            <a class="label-c" href="">JAVASCRIPT</a>


        </div> -->
            <!-- <div class="job-posted">
                posted 2 min ago
            </div> -->

        </div>
        <div class="job-card">
            <div class="job-name">
                <img class="job-profile" src="http://1000logos.net/wp-content/uploads/2017/05/Old-YouTube-logo.jpg"
                    alt="">

                <div class="job-detail">
                    <h4>Youtube</h4>
                    <h3>Software Engineer</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing eliy.</p>
                </div>
            </div>
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">Click
                Here
            </button>

        
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable ">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Software Developer Intern
                                <br>
                                <h6>Calicut</h6>
                                <br>

                                <div style="background-color:white;display: flex;">

                                    <div style="background-color: bisque;width:100%; height: 100%; margin-left: 5px;border-radius: 5px;text-align: center;">
                                        <b>Full-time</b>
                                    </div>
                                   
                                    <div style="background-color: bisque;width:100%;height: 100%; margin-left: 5px;border-radius: 5px; text-align: center;">
                                        <b>Fresher</b>
                                    </div>
                                </div>
                              
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h5>Job Details</h5>
                            <br>
                            <h4></h4>
                            <p>Dear Professionals , <br>

                                We are offering an exciting opportunity for aspiring Python developers to join our
                                online Python Full Stack Development internship with a specialization in Django. This
                                internship program is designed to equip you with the skills and knowledge required to
                                become a proficient Python Full Stack Developer.</p>

                            <h5>JOB SUMMARY</h5>

                            <p>
                                Job Role: Software Developer Fresher
                                Salary: As per industry standard
                                Project Location(s): Kozhikode CyberPark, Calicut, Kerala
                                Education: B.Tech, BE, Bsc Comp Science, Msc, MCA, BCA
                                Work Experience: Fresher
                                Work type: Full time

                            </p>

                            <h5> IDEAL CANDIDATE</h5>
                            <p>
                                Good Communication Skills
                                Excellent Logical / Reasoning Skills
                                Detail-oriented independent thinker
                                Persistent and result oriented
                                A passionate and fast learner
                                Ability to work in a team or independently.
                            </p>


                            <h5> KEY RESPONSIBILITIES</h5>
                            <p>
                                Work closely with Developers and the QA team to ensure high-quality project delivery
                                Developing and implementing a timeline to achieve targets
                                Ability to work major B2B and B2C projects
                                Work on cutting-edge technologies.
                                Debug and bug handling skill
                            </p>



                        </div>
                        <div class="modal-footer">
                             <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-dark">Apply Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="job-label">
            <a class="label-a" href="">HTML</a>
            <a class="label-b" href="">CSS</a>
            <a class="label-c" href="">JAVASCRIPT</a>


        </div> -->
            <!-- <div class="job-posted">
                posted 2 min ago
            </div> -->

        </div>
        <div class="job-card">
            <div class="job-name">
                <img class="job-profile" src="http://1000logos.net/wp-content/uploads/2017/05/Old-YouTube-logo.jpg"
                    alt="">

                <div class="job-detail">
                    <h4>Youtube</h4>
                    <h3>Software Engineer</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing eliy.</p>


                </div>
                <!-- Button trigger modal -->


            </div>
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">Click
                Here
            </button>

        
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable ">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Software Developer Intern
                                <br>
                                <h6>Calicut</h6>
                                <br>

                                <div style="background-color:white;display: flex;">

                                    <div style="background-color: bisque;width:100%; height: 100%; margin-left: 5px;border-radius: 5px;text-align: center;">
                                        <b>Full-time</b>
                                    </div>
                                   
                                    <div style="background-color: bisque;width:100%;height: 100%; margin-left: 5px;border-radius: 5px; text-align: center;">
                                        <b>Fresher</b>
                                    </div>
                                </div>
                              
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h5>Job Details</h5>
                            <br>
                            <h4></h4>
                            <p>Dear Professionals , <br>

                                We are offering an exciting opportunity for aspiring Python developers to join our
                                online Python Full Stack Development internship with a specialization in Django. This
                                internship program is designed to equip you with the skills and knowledge required to
                                become a proficient Python Full Stack Developer.</p>

                            <h5>JOB SUMMARY</h5>

                            <p>
                                Job Role: Software Developer Fresher
                                Salary: As per industry standard
                                Project Location(s): Kozhikode CyberPark, Calicut, Kerala
                                Education: B.Tech, BE, Bsc Comp Science, Msc, MCA, BCA
                                Work Experience: Fresher
                                Work type: Full time

                            </p>

                            <h5> IDEAL CANDIDATE</h5>
                            <p>
                                Good Communication Skills
                                Excellent Logical / Reasoning Skills
                                Detail-oriented independent thinker
                                Persistent and result oriented
                                A passionate and fast learner
                                Ability to work in a team or independently.
                            </p>


                            <h5> KEY RESPONSIBILITIES</h5>
                            <p>
                                Work closely with Developers and the QA team to ensure high-quality project delivery
                                Developing and implementing a timeline to achieve targets
                                Ability to work major B2B and B2C projects
                                Work on cutting-edge technologies.
                                Debug and bug handling skill
                            </p>



                        </div>
                        <div class="modal-footer">
                             <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-dark">Apply Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="job-label">
            <a class="label-a" href="">HTML</a>
            <a class="label-b" href="">CSS</a>
            <a class="label-c" href="">JAVASCRIPT</a>


        </div> -->
            <!-- Button trigger modal -->


            <!-- Modal -->

            <!-- <div class="job-posted">
                posted 2 min ago
            </div> -->

        </div>
        <button class="job-more">More List</button>

    </section>

</div>
