<app-header></app-header>

<head>
  <style>
    .row{
      background-repeat: no-repeat;
      background-position:center;
      background-attachment: fixed;
      background-size: cover;
      height:400px;
      width:100%;
      background-image: url(https://tse3.mm.bing.net/th?id=OIP.R5AUEKRv7dOcJ590Oip3_gHaEK&pid=Api&P=0&h=180);
    
    }

  </style>
</head>


<div class="container mt-2">
    <form>
      <div class="row jumbotron box8">
        <div class="col-sm-12 mx-t3 mb-4">
          
        </div>
        <div class="col-sm-6 form-group mt-2">
            <label for="Highest Qualification">Highest Qualification</label>
            <select id="Qualification" class="form-control browser-default custom-select">
              <option value="Post Graduate"> Post Graduate</option>
              <option value="Graduate">Graduate</option>
              <option value="Dipoloma">Diploma</option>
            </select>

          </div>
        <div class="col-sm-6 form-group mt-2">
          <label for="Stream">Stream:</label>
          <input type="text" class="form-control " name="stream" id="stream" placeholder="" required>
        </div>
        <br>
        <div class="col-sm-6 form-group mt-2">
          <label for="name-l">Institution / college :</label>
          <input type="text" class="form-control" name="lname" id="name-l" placeholder="" required>
        </div>
        <div class="col-sm-6 form-group mt-2">
          <label for="Passout year">Passout year:</label>
          <input type="year" class="form-control" name="year" id="number" placeholder="" required>
        </div>
        <div class="col-sm-6 form-group mt-2">
          <label for="Skills">Skills:</label>
          <input type="text" class="form-control" name="year" id="number" placeholder="" required>

          <br>
         <button routerLink="/formone" class="btn btn-danger">Back</button>
          
        </div>
        <br>
        <div class="col-sm-6 form-group mt-2">
        
          <label for="Percentage">Percentage obtained:</label>
          <input type="percentage" class="form-control" name="percentage" id="Percentage" placeholder="" required>
          <br>
          
   <button id="button1"  class="btn btn-danger  " type="button" routerLink="/formthree">Save and Next </button>
         
        </div>

        
        <br>

   
